<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
- "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd" >
 <html>
	<%= javascript_include_tag :defaults %>
	<%= active_scaffold_includes %>
	<head>
		<title>
			admin
		</title>
		<%= stylesheet_link_tag "activescaffold" , :media => "all" %>
	</head>
	<body id="store">
	<div id="columns">
	<div id="side">
		<%=render :file=>'admin/enumerate'%>
	</div>
	<div id="main">
		<% if flash[:notice] -%>
			<div id="notice">
				<%= flash[:notice] %>			
			</div>
		<% end -%>
		<%= yield :layout %>
	</div>
	</body>
 </html>